.dropdown{
    width: 190px;
    display: flex;
    position: relative;
}
.dropdown__btn {
    min-width: 70px;
    height: 50px;
    font-size: 16px;
    border: 3px solid rgb(199, 194, 194);
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
    z-index: 1;
}
.dropdown__btn:hover {
    background-color: #f8f6ff;
}
.dropdown__content {
    border: 2px solid rgb(199, 194, 194);
    border-radius: 5px;
    position: absolute;
    width: 110px;
    right: 0px;
    z-index: 2;
}
.dropdown__content::after {
    content: '';
    position: absolute;
    top: 5%;
    right: 108px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent rgb(199, 194, 194) transparent transparent;
}
.dropdown__children * {
    width: 100%;
    display: block;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    border: 1px solid rgb(199, 194, 194);
    transition: .2s;
}
.dropdown__children *:hover {
    background-color: #f8f6ff;
}