* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    padding: 10px;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 800px;
}

.post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid purple;
    border-radius: 10px;
    margin: 15px;
    padding: 15px;
}
.post__content {
    max-width: 90%;
    padding-right: 10px;
    /* border: 2px solid red; */
}
.post__btns {
    max-width: 10%;
    text-align: center;
    /* border: 2px solid green; */
}
.post-enter {
opacity: 0;
}
.post-enter-active {
opacity: 1;
transition: opacity 500ms ease-in;
}
.post-exit {
opacity: 1;
}
.post-exit-active {
opacity: 0;
transition: opacity 500ms ease-in;
}

.error {
    text-align: center;
    margin-top: 40px;
}

.page {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    border: 1px solid purple;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.101);
    cursor: pointer;
}
.pages__wrapper {
    padding: 5px;
    margin: 10px;
}
.page-active {
    border: 2px solid orange;
    font-weight: bold;
}