h1 {
    width: 400px;
}
.login__wrapper {
    min-width: 200px;
    max-width: 400px;
    height: 280px;
    border: 2px solid purple;
    padding: 20px;
    border-radius: 5px;
}
.login__input {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    border: 1px solid purple;
    border-radius: 10px;
    transition: .2s;
}
.login__input:hover {
    scale: 1.01;
}
.login__input__password {
    position: relative;
}
.login__input__password__checkbox {
    position: absolute;
    right: 10px;
    top: 27px;
    z-index: 1;
}
.login__input__error {
    border: 1px solid red;
    box-shadow: 0 0 3px red, 0 0 3px red;
}
.login__btn__wrapper {
    display: flex;
    justify-content: center;
}
.login__btn {
    padding: 10px;
    border: 1px solid purple;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
    margin-top: 20px;
}
.login__btn:hover {
    scale: 1.01;
}
.login__btn__loader {
    margin-top: 30px;
}
.login__link {
    margin-top: 15px;
    font-size: 14px;
    color: gray;
}