.login__header {
    width: 400px;
}
.login__wrapper {
    min-width: 200px;
    max-width: 400px;
    height: 295px;
    border: 3px solid rgba(21, 14, 21, 0.705);
    padding: 20px;
}
.login__input {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    border: 2px solid rgba(21, 14, 21, 0.705);
    transition: .2s;
}
.login__input:hover {
    scale: 1.01;
}
.login__input__password {
    position: relative;
}
.login__input__password__checkbox {
    position: absolute;
    right: 10px;
    top: 27px;
    z-index: 1;
}
.login__input__error {
    border: 2px solid red;
    box-shadow: 0 0 2px red, 0 0 2px red;
}
.login__btn__wrapper {
    display: flex;
    justify-content: center;
}
.login__btn {
    padding: 10px;
    border: 2px solid rgba(21, 14, 21, 0.705);
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
    margin-top: 20px;
}
.login__btn:hover {
    scale: 1.01;
    background-color: #dddada;
}
.login__btn__loader {
    margin-top: 30px;
}
.login__link {
    margin-top: 15px;
    font-size: 14px;
    color: gray;
}
.login__modal {
    padding: 20px;
    font-size: 24px;
}
.login__modal__btn {
    text-align: center;
}