.wrapper {
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.title {
    margin-top: 10px;
    font-size: 24px;
}
.data {
    padding-left: 10px;
    margin-top: 10px;
    font-size: 24px;
    font-weight: 300;
}
.btn {
    margin-top: 10px;
    margin-left: 15px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    color: gray;
    transition: .2s;
}
.btn:hover {
    color: rgb(77, 77, 228);
}
.modal__wrapper * {
    display: block;
    margin: 0px auto;
    margin-top: 20px;
}
.modal__wrapper p {
    text-align: center;
    font-size: 22px;
}